@import '../../styles/global.scss';

#register-and-edit-vaccine{
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 84rem;
    margin: 0 auto;

    .board {
      margin-bottom: 2rem;
      height: 35rem;
      width: 100%;

      border: 0.15rem solid $primary;
      border-radius: 1rem;
      
      form {
        display: flex;
        flex-direction: column;
        margin: 1rem 0rem 0rem 4rem;

        h2 {
          font-size: 1.5rem;
          margin: 2.5rem 0rem 0rem 0.5rem;
        }

        .Infos {
          display: flex;
          div {
            width: 100%;

            .imageContent {
              display: flex;
              flex-direction: column;

              span {
                margin-top: 2rem;
                margin-left: 0.5rem;
                font-weight: bold;
              }

              img {
                margin: 1rem;
                width: 15rem;
              }
            }
          }
        }
      }

      .Description {
        width: 100%;

        textarea {
          width: 78%;
          height: 20rem;
        }
      }
    }
  }
}