$primary: #8065e5;
$secondary: #ac9aff;
$background: #f1efff;
$dark: #262151;
$text: #29292E;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $text;
}

body, input, button, textarea {
  font: 400 1rem 'Roboto', sans-serif;
}
