@import '../../styles/global.scss';

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  h1 {
    font-size: 8rem;
    color: $dark;
  }

  h2 {
    font-size: 4rem;
    color: $text;
  }

  b {
    color: red;
  }
}

