@import '../../styles/global.scss';

#Modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;

  .content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    width: 40rem;

    border: 0.3rem solid $primary;
    border-radius: 2rem;
    background-color: #FFF;

    .header {
      h1 {
        margin: 1rem 2rem;
        font-size: 1.8rem;
      }

      .separator {  
        margin: 0 auto;
        width: 95%;

        height: 0.15rem;
        background: $primary;
        margin-bottom: 2rem;
      }
    }

    .alert {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 95%;

      div {
        display: flex;
        justify-content: center;
        height: auto;

        label {
          width: 90%;
          font-size: 1.3rem;
        }
      }

      button {
        font-size: 1rem;
        padding: auto;
        width: 6rem;
        margin: 2.5rem 0rem 1rem 30rem;
      }
    }

    .confirm {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 95%;

      .text {
        display: flex;
        justify-content: center;
        height: auto;

        label {
          font-size: 1.3rem;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        margin: 2.5rem 0rem 1rem 20rem;
        gap: 1rem;

        button {
          font-size: 1rem;
          padding: auto;
          width: 8rem;
        }
      }
    }

    .custom {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 95%;

      .section {
        display: flex;
        justify-content: center;
        height: auto;

        label {
          font-size: 1.3rem;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        margin: 2.5rem 0rem 0.5rem 22rem;
        gap: 1rem;

        button {
          font-size: 1rem;
          padding: auto;
          width: 8rem;
        }
      }
    }
  }
}