@import '../../styles/global.scss';

#LabelAndChange {
  div {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      font-size: 1rem;
      margin: 2rem 0.5rem 0.5rem;
    }
  
    input, select {
      font-size: 1rem;
      padding: 0.4rem 0.6rem;
      width: 22rem;
      outline: none;
      
      background: #FFF;
      border: 0.1rem solid $dark;
      border-radius: 0.5rem;

      &:focus {
        border: 0.2rem solid $primary;
        border-radius: 0.5rem;
      }
    }

    input:disabled , select:disabled {
      color: #898989;
    }

    span {
      width: 8rem;
      padding: 1rem;
      background: #047F9F;
      border-radius: 2rem;

      color: #FFF;
      font-size: 1rem;
      text-align: center;
    }
  }
}