.button {
  color: #FFF;
  font-size: 1.5rem;

  border: none;
  background: #FFA200;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;

  transition: 300ms;

  &:hover {
    background: #047F9F;
    color: #FFF;
  }

  &.outlined {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFA200;
    font-size: 1.5rem;

    border: 0.1rem solid #FFA200;
    border-radius: 1rem;
    background: #FFF;
    padding: 0.4rem 1rem;

    transition: 300ms;

    &:hover {
      background: #FFA200;
      color: #FFF;
    }

    b {
      color: #000;
      font-size: 1rem;
      margin-left: 0.5rem;
      margin-top: 0.2rem;
    }
  }
}