@import '../../styles/global.scss';

#Card {
  .vaccineCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1rem;
    height: 7rem;
    width: 10rem;

    background: $dark;
    border-radius: 1rem;

    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
  }

  .dosageCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
    margin-left: 1rem;
    height: 7rem;
    width: 12rem;

    background: $background;
    border-radius: 1rem;

    label {
      font-size: 1.2rem;
      font-weight: bold;
      color: $dark;
    }          

    .data {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      label {
        font-size: 1rem;
        color: $text;
      }
      
      .datePicker {
        margin-left: 0.5rem; 

        input {
          text-align: center;
          font-size: 1rem;
          padding: 0.2rem 0rem;
          width: 6rem;
          outline: none;
          
          background: #FFF;
          border: 0.1rem solid $dark;
          border-radius: 0.5rem;
    
          &:focus {
            border: 0.2rem solid $primary;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}